*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  padding-left: 50px;
  padding-right: 50px;
}

h2 {
  color: black;
}

header {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 16vh;
  padding-right: 16vh;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item {
  font-size: 1.5em;
  border-style: hidden;
}

.logo {
  border-radius: 55px;
}

footer {
  background-color: black;
}

p {
  color: black;
  font-size: 1.25em;
}

a {
  background: black;
  margin-left: 10px;
}

div img {
  width: 500px;
  height: 300px;
  margin: 10px;
}

.projeto{
  background-color: #387;
  margin: 10px;
}

.card {
  align-items: center;
  margin: 10px;
}

.lane {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ctt {
  background-color: midnightblue;
  color: white;
}

input {
  background:transparent;
  box-shadow: none;
  border:none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
}

footer {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}
